@model WorkloadTest.ViewModels.InstanceViewModel

@{
    ViewBag.Title = "EditException";
}

@Html.DisplayNameFor(x => x.Task_ID) <br />
@Html.DisplayNameFor(x => x.Instance) <br />

<h2>EditException</h2>
