@{
    ViewBag.Title = "Home Page";
}
<div class="row">

<div class="large-12 columns">

    <br />
<span class="round alert label" style="padding:100px"><h1>Upload Ecel File</h1><i class="fa fa-exclamation fa-5x fa-fw"></i><h4>NOTE: All Data on server will be replaced with Excel data!</h4>
<br />
@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <input type="file" name="FileUpload" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}</span>
</div>

</div>