@model WorkloadTest.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <div class="row">
        @Html.ActionLink("Create New", "Create")
    </div>
</p>
<p>
@foreach (var coe in Model.allCoEs)
{
    @:<div class="row">
        @Html.ActionLink("View Tasks for: " + coe.CoE, "taskList", new {coeID = coe.CoE_ID})
    @:</div>
}
</p>

@foreach (var analyst in Model.allAnalysts)
{
    @:<div class="row">
        @Html.ActionLink("View Tasks for: " + analyst.First_Name, "taskList", new {analystID = analyst.Analyst_ID})
    @:</div>
}

